<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>darene</string>
		<key>creation_date</key>
		<date>2015-03-31T16:56:54Z</date>
		<key>munki_version</key>
		<string>2.2.4.2431</string>
		<key>os_version</key>
		<string>10.10.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>MicrosoftRemoteDesktop</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Utilities</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Microsoft Remote Desktop</string>
	<key>icon_name</key>
	<string>MicrosoftRD.png</string>
	<key>installed_size</key>
	<integer>36849</integer>
	<key>installer_item_hash</key>
	<string>c30ac2720ca3db6fb25b3df8d66edb4c2413751f82b2c425d5a8807da33c0591</string>
	<key>installer_item_location</key>
	<string>apps/Microsoft/RemoteDesktop/MicrosoftRemoteDesktop-8.0.25886.pkg</string>
	<key>installer_item_size</key>
	<integer>13848</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.microsoft.rdc.mac</string>
			<key>CFBundleName</key>
			<string>Microsoft Remote Desktop</string>
			<key>CFBundleShortVersionString</key>
			<string>8.0.25886</string>
			<key>CFBundleVersion</key>
			<string>8.0.25886</string>
			<key>minosversion</key>
			<string>10.7</string>
			<key>path</key>
			<string>/Applications/Microsoft Remote Desktop.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>MicrosoftRemoteDesktop</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>36849</integer>
			<key>packageid</key>
			<string>com.microsoft.rdc.mac</string>
			<key>version</key>
			<string>8.0.25886</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<false/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>8.0.25886</string>
</dict>
</plist>
