<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>darene</string>
		<key>creation_date</key>
		<date>2015-03-31T16:08:20Z</date>
		<key>munki_version</key>
		<string>2.2.4.2431</string>
		<key>os_version</key>
		<string>10.10.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Internet</string>
	<key>description</key>
	<string>Adium is a free instant messaging application for Mac OS X that can connect to AIM, MSN, Jabber, Yahoo, and more.</string>
	<key>developer</key>
	<string>Adium</string>
	<key>display_name</key>
	<string>Adium</string>
	<key>icon_name</key>
	<string>Adium.icns</string>
	<key>installer_item_hash</key>
	<string>bca3ac81d33265b71c95a3984be80715fbd98f38d7c463d0441d43a335ed399a</string>
	<key>installer_item_location</key>
	<string>apps/Adium-1.5.10.dmg</string>
	<key>installer_item_size</key>
	<integer>24019</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.adiumX.adiumX</string>
			<key>CFBundleName</key>
			<string>Adium</string>
			<key>CFBundleShortVersionString</key>
			<string>1.5.10</string>
			<key>CFBundleVersion</key>
			<string>1.5.10</string>
			<key>minosversion</key>
			<string>10.6.8</string>
			<key>path</key>
			<string>/Applications/Adium.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Adium.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.8</string>
	<key>name</key>
	<string>Adium</string>
	<key>unattended_install</key>
	<false/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.5.10</string>
</dict>
</plist>
